<div id="footer text-center">
    <div class="container ">
        <div class="row">
              <div class="col-md-4 text-left">
                  <p class="footertext">Recent blog posts:</p>
                  <p class="footertext "> blog post by foo</p>
                  <p class="footertext"> blog post by bar</p>
                  <p class="footertext"> foobar blog post</p>
              </div>
              <div class="col-md-4 text-center">
                 <p class="footertext">Copyright 2016 Callibrity Solutions, LLC. 
                    9462 Towne Square Ave
                    Blue Ash, OH 45242
                </p>
              </div>
              <div class="col-md-4 text-right">
                <a href='http://www.bizjournals.com/cincinnati/news/2016/09/06/see-if-your-company-is-a-finalist-for-the-couriers.html' target='_blank'>
                  <img src="/assets/images/bptw-2016.png">
                </a>
                <a href='/blog/2016-fast-55'>
                  <img src="/assets/images/fast55.png">
                </a>
                <a href='https://www.inc.com/profile/callibrity-solutions' target='_blank'>
                  <img src="/assets/images/Inc5000_colorstacked.png">
                </a>
              </div>
            </div>
        </div>
    </div>


<!--<footer class="bd-footer footer-middle text-muted">
  <div class="container">
    <div class="col-md-3 col-sm-6">
      <div class="footer-pad">
        <h4> Recent blog posts </h4>
        <p>blog post by foo</p>
        <p>blog post by bar</p>
        <p>foobar blog post</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="footer-pad">
        <p>Copyright 2016 Callibrity Solutions, LLC. 
            9462 Towne Square Ave
            Blue Ash, OH 45242
        </p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="footer-pad">
        <img src="/assets/images/bptw-2016.png">
        <img src="/assets/images/fast55.png">
        <img src="/assets/images/Inc5000_colorstacked.png">
      </div>
    </div>
  </div>
</footer>-->