<div class="container">
  <div class="row justify-content-center">
    <img src="/assets/images/team.png" alt="Callibrity" class="rounded">
  </div>
  <div class="row">
    <div class="col-12">
      <h1>What is 'Callibrity'?</h1>
      <p>
        When you see 'Callibrity', you might be thinking that it's a word you've never encountered. You're right, it's not in the dictionary.
      </p>
      <p>
        When we chose Callibrity as our company name we wanted something meaningful and unique. It's a mashup of two different roots, calli and caliber. 
        Calli means 'beautiful' in Greek, as in Calligraphy - beautiful writing. Caliber means 'a degree of merit or excellence', which perfectly fit our passion.
      </p>
      <p>
        The software development work we do is extremely challenging. We’ve been practicing our skills for many years, and are truly craftsmen. 
        What we do is an artform. We work together to solve problems by creating and developing some of the most innovative technology in the 
        industry for our clients, helping them fully achieve their goals.
      </p>
      <p>
        Skill and expertise are the foundation of our company, and we chose a name that reflects this. 
        Though it may be a new word, we believe it captures the essence of who we are. We strive to do beautiful work with a high degree of merit and excellence. 
        We are Artists. We are Engineers. We are Innovators. We are Callibrity.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1>Humble Origins</h1>
      <p>
        In 2007, while working on a project together, independent consultants Gary and Mark dreamed of starting an IT Consulting firm that would provide 
        other independents great projects to work on. Through leveraging relationships with other IT consultants, their vast market knowledge and understanding 
        of the local landscape, Callibrity has grown exponentially since.
      </p>
      <p>
        The dream has been realized and Callibrity takes great pride in fostering an environment where the top talent in the area can come together on great projects. 
        We are an organization that doesn’t just tell consultants they are valued, but shows them.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>Want to know more about us?</h3>
      <p>
        Find out more about our <a routerLink="/services">professional services</a>, the distinguished clients we work with, and how you can <a routerLink="/careers">join our team</a>. 
      </p>
    </div>
  </div>
</div>
