<div class="jumbotron">
  <video id="bg-video" autoplay="true" loop="loop" preload="metadata" muted="muted">
    <source src="/assets/videos/callibrity-movie.webm" type="video/webm" />
  </video>
  <div class="center jumbovidtext text-center">
    <h1 class="txtjumbo">We love what you do</h1>
    <p class="txtjumbo">High-caliber software developers who are as passionate about your business as you are</p>
  </div>
</div>


<!--<div class="hero hero--video">
  <video autoplay loop 
    preload="auto"
    poster="assets/images/callibrity-movie-screenshot.png"
    id="callibrity-video"
    width="110%"
    height="100%"
    class="video-js video-bg">
    <source src="assets/videos/callibrity-movie.webm" type="video/webm" />
    <p> I'm sorry, your browser does not support HTML 5 video </p>
  </video>
  <div class="tagline">
    <h1>We love what you do</h1>
    <p class="tagline-subtext">High-caliber software developers who are as passionate about your business as you are</p>
  </div>
</div>-->