<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Professional Services</h1>
      <div class="media">
        <i class="fa fa-code fa-2x d-flex align-self-start mr-3" aria-hidden="true"></i>
        <div class="media-body">
          <h5 class="mt-0">Software Development</h5>
          <p>
            Callibrity was founded by developers and has provided consulting services in the Cincinnati area and remotely since 2007. 
            Services include application, mobile, web and big data development. We are developers at our core.
          </p>
        </div>
      </div>
      <div class="media">
        <i class="fa fa-check-square-o fa-2x d-flex align-self-start mr-3" aria-hidden="true"></i>
        <div class="media-body">
          <h5 class="mt-0">Agile Methodologies</h5>
          <p>
            Scrum masters and Agile practitioners are integral to the software development life-cycle. We could not do what we do best without them.
          </p>
        </div>
      </div>
      <div class="media">
        <i class="fa fa-play-circle-o fa-2x d-flex align-self-start mr-3" aria-hidden="true"></i>
        <div class="media-body">
          <h5 class="mt-0">Automated Testing</h5>
          <p>
            Quality code ensured by automated tests for successful product releases, every time.
          </p>
        </div>
      </div>
      <div class="media">
        <i class="fa fa-terminal fa-2x d-flex align-self-start mr-3" aria-hidden="true"></i>
        <div class="media-body">
          <h5 class="mt-0">Code Lab</h5>
          <p>
            Your project, managed by an experienced Agile practitioner and a team of technical resources in your office or ours. 
            Code Lab means getting it done right the first time.
          </p>
        </div>
      </div>
      <div class="media">
        <i class="fa fa-pencil fa-2x d-flex align-self-start mr-3" aria-hidden="true"></i>
        <div class="media-body">
          <h5 class="mt-0">Training</h5>
          <p>
            We value continued learning. We not only train and mentor our consultants, we offer training and mentorship to our clients as well.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h1>Industries Served</h1>
      <ul>
        <li>
          <i class="fa fa-shield fa-2x"></i>
          <p>Insurance</p>
        </li>
        <li>
          <i class="fa fa-tag fa-2x"></i>
          <p>Retail</p>
        </li>
        <li>
          <i class="fa fa-cogs fa-2x"></i>
          <p>Manufacturing</p>
        </li>
        <li>
          <i class="fa fa-shopping-cart fa-2x"></i>
          <p>eCommerce</p>
        </li>
        <li>
          <i class="fa fa-credit-card fa-2x"></i>
          <p>Payment Processing</p>
        </li>
      </ul>
    </div>
  </div>
</div>
