<app-hero></app-hero>
<div class="container">
	<div class="row">
		<div class="col-12">
			<h1>Great Teams, Incredible Clients, and Amazing Solutions.</h1>
			<p>We accomplish extraordinary results for our clients by providing leading information technology consulting services. <a routerLink="/services">Read more.</a></p>
		</div>
	</div>
	<div class="row services">
		<div class="col-md-3">
			<img src="/assets/images/software-development-color.png" alt="Software Development">
			<p>Software Development</p>
		</div>
		<div class="col-md-3">
			<img src="/assets/images/agile-color.png" alt="Agile Methodologies">
			<p>Agile Methodologies</p>
		</div>
		<div class="col-md-3">
			<img src="/assets/images/automated-testing-color.png" alt="Automated Testing">
			<p>Automated Testing</p>
		</div>
		<div class="col-md-3">
			<img src="/assets/images/component-teams-color.png" alt="Component Teams">
			<p>Component Teams</p>
		</div>
	</div>
</div>
